a {
    text-decoration: none;
    color: #363636;
}

* {
    font-family: 'Roboto', sans-serif;
}

header.header {
    width: 95%;
    -webkit-box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.23);
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    text-decoration: none;
    color: #363636;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.header .header-content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header.header .header-content ul {
    display: flex !important;
    max-width: 300px;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

header.header .header-content ul li {
    padding: 10px;
}

header.header .header-content ul li.active {
    background: #242424;
    border-radius: 5px;
    color: orange;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 10px 25px -7px rgba(0, 0, 0, 0.23);
}

header.header .header-content ul li.active a {
    color: #fffb00;
}

header.header .header-content ul li:hover {
    background: #999;
    color: orange;
    border-radius: 5px;
}

header.header .header-content ul li:hover a {
    color: #fff;
}

header.header .header-content .logo {
    margin-left: 25px;
    font-weight: 600;
    font-size: 18px;
}


/*css for calendar*/

.ui-widget.ui-widget-content {
    border: 0 !important;
    -webkit-box-shadow: 0px 10px 43px -15px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 10px 43px -15px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 10px 43px -15px rgba(0, 0, 0, 0.63);
    border-radius: 10px;
}

.ui-datepicker .ui-datepicker-header {
    background: #fff;
    border: 0 !important;
}

.ui-state-default {
    background: #fff !important;
    border-radius: 5px !important;
    border: 0.5px solid #eaeaea !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ui-state-default.ui-state-active {
    background: #000 !important;
    color: #fffb00 !important;
}

.body {
    margin: 0 auto;
    width: 95%;
    display: flex;
    margin-top: 50px;
}