{# Это шаблон templates/base.html #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Кафе "Мякотка": {% block title %}Title{% endblock %}</title>
</head>

<body>
    <header class="header">
        <div class="header-content">
            <a class="logo" href="/">Кафе "Мякотка" : {% block visibletitle %}Главная{% endblock %}</a> {% include 'components/nav.html' %}
        </div>
    </header>
    {% block content %}
    <p>Дата: {{current_date}}</p>
    {% endblock %} 
    {% include "components/scripts.html" %}
</body>

</html>